body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  margin-left: 5px;
}
.m-auto {
  margin: 0 auto;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.center {
  text-align: center;
}
.ui.dropdown {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.home-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(196, 196, 196);
  min-height: 70vh;
  padding-bottom: 0;
  margin-bottom: 0;
}
