body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.w-100 {
  width: 100%;
}
button {
  margin-left: 5px;
}
.m-auto {
  margin: 0 auto;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.center {
  text-align: center;
}
.ui.dropdown {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.home-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(196, 196, 196);
  min-height: 70vh;
  padding-bottom: 0;
  margin-bottom: 0;
}
.mr-10 {
  margin-right: 10px;
}
.explore-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.py-2 {
  padding: 5px 0px;
}
.p-10 {
  padding: 10px;
}
.modal-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2px;
  padding: 2px;
}
.modal-right {
  display: flex;
  flex-direction: column;
}
.comment-card {
  padding: 10px;
}
.comment-card a {
  font-size: 1.2 rem;
  margin-right: 5px;
  font-weight: bolder;
}
.modal-post-form {
  display: flex;
  flex-direction: column;
  height: min-content;
  margin-top: 15px;
  justify-content: flex-end;
}
.comment-form {
  display: flex;
  margin-top: 10px;
  padding-right: 0px;
}
.comment-form input {
  border: none;
  flex-basis: 85%;
}
.comment-form input:focus {
  border: none;
}
.comment-form button {
  flex-basis: auto;
}
.comments {
  overflow-y: scroll;
  max-height: 40vh;
}
.bolder a{
  font-size: 1.1rem;
  font-weight: bolder;
}